* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  text-align: left;
  font-family: Courier, monospace;
}

#container {
  width: 70%;
  padding: 1rem;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
  font-size: 2rem;
}

#container h1 {
  font-size: 2.5rem;
}

#cabecera {
  background: #33a;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem;
  box-shadow: 9px 13px 5px -1px rgba(212, 200, 212, 1);
  margin-bottom: 1rem;
}

#tagline {
  font-size: 1rem;
  font-weight: normal;
}
